# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Playwright
.playwright/
test-results/

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
reports/

# OS
.DS_Store
Thumbs.db

# Local cache / data
.cache/
*.sqlite
*.db

# Zip files
*.zip
